html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: hsl(0, 0%, 98%);
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.header {
  padding: 20px;

  gap: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  width: 80%;
  font-weight: 700;

  gap: 20px;
  display: flex;
  justify-content: space-between;
}

.header__Close,
.header__Hamburger {
  display: none;
}

.header__ul {
  gap: 20px;
  display: flex;
  flex-flow: row nowrap;
}

.header__ul--li {
  display: flex;
  gap: 8px;
  align-items: center;
  color: hsl(0, 0%, 41%);
}

.header__Submenu1,
.header__Submenu2 {
  padding: 23px;
  position: fixed;
  top: 50px;

  gap: 10px;
  display: none;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.066);
}

.header__Submenu1 {
  left: 120px;
}
.header__Submenu1 li:hover {
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}

.header__Submenu2 li:hover {
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}

.header__li--down1,
.header__li--down2 {
  display: none;
}

.header__SubmenuOptions {
  gap: 10px;
  display: flex;
}

.header .header__nav--active {
  display: flex;
}

.header .header__nav--deactivate {
  display: none;
}

.header__button--register,
.header__button--login {
  color: hsl(0, 0%, 41%);
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid transparent;
}

.header__button--register:hover,
.header__button--login:hover {
  color: hsl(0, 0%, 8%);
  border: 2px solid hsl(0, 0%, 8%);
}

@media (max-width: 800px) {
  .header__nav {
    width: 100%;
    display: none;
    flex-direction: column;
  }

  .header__ul {
    flex-direction: column;
  }

  .header__Hamburger {
    display: block;
  }
}
